.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 1s;
}
.ex-1-square:hover{
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s linear;
}
.ex-2-square:active{
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 0.3s linear;
}
.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 1s linear;
}
.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: height 1s linear;
    transition: width 1s linear; 
    /* transition: margin 1s linear; */
}
/* da fare */
.ex-5-square:hover{
    height: 100px;
    width: 100px;
    scale: 1.0;
    transition: scale 1s;
}
.ex-5-square:hover{
    scale: 1.5;
} 
.ex-5-square:active{
    scale: 0.5;
} 


.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img{
    filter: sepia(0%) saturate(50%);
    transition: all 1s linear;
}
.ex-7-img:hover{
    filter: sepia(100%) saturate(100%);
}

.ex-8-img{
    filter: sepia(0%) saturate(50%);
    border-radius: 0px;
    transition: all 1s linear;
}
.ex-8-img:hover{
    filter: sepia(100%) saturate(100%);
    border-radius: 20px;
}
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    filter: sepia(0%) saturate(50%);
    border-radius: 0px;
    scale: 1.0;
    transition: all 1s linear;
    
}
.ex-9-img:hover{
    filter: sepia(100%) saturate(100%);
    border-radius: 20px;
    scale: 1.5;
}


.ex-10-icon {
    font-size: 60px;
    animation:rotation 1s linear infinite;
    
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
     }
    100%{
        transform: rotate(-360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover{
    animation:rotation-revert 2s linear;
    animation-iteration-count: 1;
}
@keyframes rotation-revert {
    0%{
        transform: rotate(0deg);
     }
     25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* ANIMAZIONE 12 */


.ex-12-button:hover >.ex-12-top-white{ 
    animation: slide-top-12 2s linear;
    animation-iteration-count: 1;
}
@keyframes slide-top-12 {
    0%{
        top: -10px;
        left: 10%;
    }
    50%{
        top: -10px;
        left: 65%;
    }
    100%{
        top: -10px;
        left: 10%;
    }  
}
.ex-12-button:hover >.ex-12-bottom-white{ 
    animation: slide-bottom-12 2s linear;
    animation-iteration-count: 1;
}
@keyframes slide-bottom-12 {
    0%{
        bottom: -10px;
        right: 20%;
    }
    50%{
        bottom: -10px;
        right: 65%;
    }
    0%{
        bottom: -10px;
        right: 20%;
    } 
}
/* ANIMAZIONE 13 */
.ex-13-button:hover >.ex-13-top-white{ 
    animation: slide-top-13 2s linear;
    animation-iteration-count: 1;
}
@keyframes slide-top-13 {
    0%{
        top: -10px;
        left: 10%;
    }
    20%{
        top: -10px;
        left:85%;
    }
    40%{
        top: 55px;
        left: 85%;
    }  
    60%{
        top: 55px;
        left: -10%;
    }  
    80%{
        top: -10px;
        left: -10%;
    }  
    100%{
        top: -10px;
        left: 10%;
    }  
}
 .ex-13-button:hover >.ex-13-bottom-white{ 
    animation: slide-bottom-13 2s linear;
    animation-iteration-count: 1;
}
@keyframes slide-bottom-13 {
    0%{
        bottom: -10px;
        right: 20%;
    }
    20%{
        bottom: -10px;
        right: 80%;
    }
    40%{
        bottom: 55px;
        right: 80%;
    }
    60%{
        bottom: 55px;
        right: -10%;
    }
    80%{
        bottom: -10px;
        right: -10%;
    }
    100%{
        bottom: -10px;
        right: 20%;
    } 
} 
